.question-show
  .question{id: "Question#{@question.id}"}
    = render 'questions/question_card'
    .comments
      .ExistingComments
        =render @question_comments

      - if user_signed_in?
        =render 'comments/form', resources: [@question, Comment.new]
  .existing-answers
    =render @answers

  .frow
    - if user_signed_in?
      .profile-pic.size-40px.standalone.new
        = render 'partials/profile_picture', user: current_user, size: :small
      .new-answer
        = simple_form_for [@question, Answer.new], remote: true do |f|
          = f.input :body, as: :pagedown, label: false, placeholder: "Enter your answer...", input_html: { preview: true, rows: 10 }
          %span.help-block.has-error.errors
          = f.button :submit, 'Post Answer'
    - else
      .profile-pic.size-40px.standalone
        =image_tag("avatar.jpg", alt: "profile pic", class: "img-circle")
      .login-to-answer
        Log in to contribute your answer!



