.question-show
  .question{id: "Question#{@question.id}"}
    = render 'questions/question_card'
    .comments
      .ExistingComments
        =render @question.comments.includes(:user).order('id ASC')
      - if user_signed_in?
        =render 'comments/form', resources: [@question, Comment.new]
  .existing-answers
    = render @question.answers.includes(:user, :likes, {comments: :user}).order('num_likes DESC')

  .frow
    - if user_signed_in?
      .profile-pic.medium.standalone.new
        =image_tag("avatar-50.png", alt: "profile pic", class: "img-circle")
      .new-answer
        = simple_form_for [@question, Answer.new], remote: true do |f|
          = f.input :body, as: :pagedown, label: false, placeholder: "Enter your answer...", input_html: { preview: true, rows: 10 }
          %span.help-block.has-error.errors
          = f.button :submit, 'Post Answer'
    - else
      .profile-pic.medium.standalone
        =image_tag("avatar-50.png", alt: "profile pic", class: "img-circle")
      .login-to-answer
        Log in to contribute your answer!



