.user-edit.center-block
  .form
    %h1
      Account Settings
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true, placeholder: 'Univeristy email'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        = f.input :current_password, hint: 'we need your current password to confirm your changes', required: true, placeholder: 'Enter current password'
        #change-password
          %a{role: "button", href: "#change-password-fields", aria_expanded: "false", aria_controls: "change-password-fields", data: {toggle: "collapse"}} Change Password
        #change-password-fields.collapse{class: ("in" if @user.errors[:password].any? || @user.errors[:password_confirmation].any?)}
          = f.input :password, label: 'New password', autocomplete: "off", hint: 'leave it blank if you don\'t want to change it', required: false, placeholder: 'Enter new password'
          = f.input :password_confirmation, required: false, placeholder: 'Confirm new password'
      .form-actions
        .form-group
          = f.button :submit, 'Update Account'
    .delete-account
      Unhappy?
      %a{role: "button", href: "#delete-confirm", aria_expanded: "false", aria_controls: "delete-link", data: {toggle: "collapse"}} Cancel my account
    #delete-confirm.collapse
      =link_to 'Delete Account', registration_path(resource_name), data: { confirm: 'This action cannot be undone. Are you sure?' }, method: :delete, class: "btn btn-danger", role: "button"