<div class="well center-block signin">
  <h2 class="text-center">Edit profile</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.text_field :username, class: "form-control", placeholder: "Username"%>
    </div>

    <div class="form-group">
      <%= f.text_field :first_name, class: "form-control", placeholder: "Username"%>
    </div>

    <div class="form-group">
      <%= f.text_field :last_name, class: "form-control", placeholder: "Username"%>
    </div>

    <div class="form-group">
      <%= f.email_field :email, class: "form-control", placeholder: "Username"%>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div id='change_password_fields', style='display:none'>
    <div class="form-group">
      <%= f.password_field :current_password, class: "form-control", placeholder: "Enter your current password"%>
    </div>

    <div class="form-group">
      <%= f.password_field :password, class: "form-control", placeholder: "Enter your new password", autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter your new password once more", autocomplete: "off" %>
    </div>
  </div>

   <div id="change_password">
     <%= link_to "Change my password", "#", remote: true %>
   </div>


  <div class="form-group">
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>

<% end %>

<%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>

<%= link_to "Back", :back %>
