.sign-in.center-block
  %h1.text-center Sign up
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :username, placeholder: "Username", autofocus: true
      = f.input :email, required: true, label: "University email", placeholder: "University email"
      = f.input :password, required: true, placeholder: "Password"
    .form-actions
      .form-group
        = f.button :submit, "Sign up", class: "btn-block btn-lg"
  Already a Coursemate member?
  = link_to "Log in", new_session_path(resource_name)