.menu
  %nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{type: "button", aria_expanded: "false", data: {toggle: "collapse", target: "#navbar"}}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        
        =image_tag("logo.png", alt: "site logo", class: "navbar-brand icon")
        =link_to("Coursemate", root_path, class: "navbar-brand title")
        
      .collapse.navbar-collapse#navbar
        %ul.nav.navbar-nav
          - if user_signed_in?
            %li{class: (params[:controller] == 'groups' ? "active-link" : "")}
              = link_to 'Groups', show_groups_in_university_path(current_user.university.id)
            %li{class: (params[:controller] == 'questions' ? "active-link" : "")}
              = link_to 'Questions', show_questions_in_university_path(current_user.university.id)
          - else
            %li{class: (params[:controller] == 'groups' ? "active-link" : "")}
              = link_to 'Groups', root_path
            %li{class: (params[:controller] == 'questions' ? "active-link" : "")}
              = link_to 'Questions', questions_path

          -if user_signed_in?
            %li.dropdown.notifications
              %a.dropdown-togggle{id: "nav-profile", href: "/notifications/top_notifications", role: "button", aria: {haspopup: "true", expanded: "false"}, data: {toggle: "dropdown", remote: true}}
                Notifications
                %span.badge.alert-danger
                  =current_user.unread_notification_count
              %ul.dropdown-menu.notifications
                //index.js.erb will be rendered here on click

        %ul.nav.navbar-nav.navbar-right
          -if user_signed_in?
            %li.dropdown
              %a.dropdown-togggle.profile-dropdown{id: "nav-profile", href: "#", role: "button", aria: {haspopup: "true", expanded: "false"}, data: {toggle: "dropdown"}}
                .profile-pic.size-35px
                  = render 'partials/profile_picture', user: current_user, size: :small
                %span.caret
              %ul.dropdown-menu.dropdown-menu-right
                %li.dropdown-header
                  Logged in as
                  .strong
                    =current_user.username_was
                %li.divider{role: "separator"}
                %li
                  =link_to('My Profile', user_path(current_user))
                %li.divider{role: "separator"}
                %li
                  =link_to("Profile Settings", account_edit_profile_path)
                %li
                  =link_to("Account Settings", edit_user_registration_path)
                %li.divider{role: "separator"}
                %li
                  =link_to("Log Out", destroy_user_session_path, method: :delete)
          - else
            %li
              = link_to "Sign up", new_user_registration_path
            %li
              = link_to("Log in", new_user_session_path)

