.link
  .card.frow.bottom-space
    .profile-pic.size-30px
      = render 'partials/profile_picture', user: group.creator, size: :small
    .fcol
      .frow.bottom-space
        %h4.title
          =link_to("#{group.title}", group_path(group))
        .time.black
          %b happening on:
          =group.day.strftime("%A, %B %d, %Y")

      .frow
        .tags
          - course = group.course
          - university = group.university
          =link_to("#{university.name}", show_groups_in_university_path(university.id), class: "btn btn-xs btn-info", role: "button")
          =link_to("#{course.name}", show_groups_in_course_path(course.to_param), class: "btn btn-xs btn-info", role: "button")
          %span.label.label-success.btn-xs
            Available Seats:
            = group.available_seats
      .attendees-count
        - attendees_count = group.users.size
        = "#{attendees_count} #{"Student".pluralize(attendees_count)} going "






