.card.frow.header
  %h4.title
    =@group.title
  .time.grey
    =local_relative_time(@group.created_at, type: 'time-or-date')

.card.frow-group.main
  .fcol
    .frow
      %i.fa.fa-clock-o.date-time
        %span.group-date
          =@group.day.strftime("%A, %B %d, %Y")
        %p.group-time
          ="#{@group.start_time.strftime("%I:%M %p")} to #{@group.end_time.strftime("%I:%M %p")}"
      - if @group.status == 'cancelled'
        .cancelled
          %span.label.label-danger.btn-xs
            Cancelled
          
    .frow.place
      %i.fa.fa-map-marker
        %span.location
          =@group.location

    .frow.description
      %i
        =@group.description
    
    .frow.bottom-space
      .tags
        =link_to("#{@group.university_name}", show_groups_in_university_path(@group.university_domain), class: "btn btn-xs btn-info", role: "button")
        =link_to("#{@group.course_name}", show_groups_in_course_path("#{@group.course_name},#{@group.university_domain}"), class: "btn btn-xs btn-info", role: "button")
        
    .frow
      .likeable-owner
        %span.grey created by:
        =link_to(" " + @group.username, user_path(@group.creator_id))
        %i.fa.fa-trophy.fa-lg.left-space
        ="+" + @group.userscore.to_s

    -if user_signed_in? && current_user.id == @group.creator_id && @group.status != 'cancelled'
      .frow
        .edit-post
          =link_to("Edit", edit_group_path(@group))
          =link_to("Cancel", cancel_groups_cancelation_path(@group), method: :patch, data: { confirm: 'Are you sure you want to cancel this group?' })

  - if user_signed_in?
    = render 'group_enrollments/enrollment'

  %h3
    Students Going: 
    .frow.attendees
      -@attendees.each do |u|
        = render 'group_enrollments/attendee', u: u
 
  - unless user_signed_in?
    .login-to-join
      Sign in to attend this group.

.container
  #myModal.modal.fade{:role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %h4.modal-title
            .alert.alert-success
              Success. You have been added to the list of students attending this group.
        .modal-footer
          =link_to 'Add to Calendar', "https://www.google.com/calendar/render?action=TEMPLATE&text=#{@group.title}&dates=#{@group.day.strftime('%Y%m%d')}T#{@group.start_time.strftime('%H%M%S')}/#{@group.day.strftime('%Y%m%d')}T#{@group.end_time.strftime('%H%M%S')}&location=#{@group.location}", class: "btn btn-primary", target: :_blank

          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close


