.user-edit
  #crop-modal.modal{tabindex: "-1", role: "dialog", aria_labelledby: "crop image dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", class: "close", aria_label: "Close", data: {dismiss: "modal"}}
            %span{aria_hidden: "true"} &times;
          %h4.modal-title Crop Image
        .modal-body
          .center-block
            =image_tag("avatar-300.jpg", id: "cropbox", alt: "profile pic")
  .frow
    .nav.nav-pills.nav-stacked.links
      %li.active{role: "presentation"}
        %a{href:"#"}
          Profile Settings
      %li.inactive{role: "presentation"}
        = link_to("Account Settings", edit_user_registration_path)
    .edit-form
      .form
        %h4 Edit Profile
        = simple_form_for @user do |f|
          = f.error_notification
          .frow.image-upload
            .preview-container
              = image_tag "avatar-50.png", id: "preview", alt: "profile pic", class: "img-circle"
            = f.button :button, "Upload", type: "button", data: {toggle: "modal", target: "#crop-modal"}
          = f.input :username, placeholder: "Username"
          = f.input :first_name, placeholder: "First name"
          = f.input :last_name, placeholder: "Last name"
          = f.button :submit, "Update Profile"