.user-edit.center-block
  #crop-modal.modal{tabindex: "-1", role: "dialog", aria_labelledby: "crop image dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", class: "close", aria_label: 'Close', data: {dismiss: "modal"}}
            %span{aria_hidden: "true"} &times;
          %h2.modal-title 
            Crop your profile picture
        .modal-body
          =image_tag("", id: "cropbox", alt: t('main.profile_pic_alt'))
        .modal-footer
          %button.btn.btn-default{type: "button", data: {dismiss: "modal"}} 
            Cancel
          %button.btn.btn-primary#confirm-avatar{type: "button", data: {dismiss: "modal"}} 
            OK

  .form
    %h1
      Profile Settings
    #s3-direct-post{data: {url: "#{@s3_direct_post.url}", fields: "#{@s3_direct_post.fields.to_json}", max_upload_size_mb: User::MAX_AVATAR_UPLOAD_SIZE_MB}}
    = simple_form_for @user, html: { class: "directUpload" } do |f|
      = f.error_notification
      .form-group
        .image-upload
          #preview-container.profile-pic.size-50px
            - if @user.processing_avatar || (@user.avatar_temp_changed? && @user.avatar_temp.present?)
              - transform = URI.parse(@user.avatar_temp).query.present? ? CGI.parse(URI.parse(@user.avatar_temp).query)['transform'][0] : nil
              #unprocessed-preview.hidden{data: {url: @user.avatar_temp, transform: transform}}
            - else
              = render 'partials/profile_picture', user: @user, size: :small
          .btn.btn-primary.fileinput-button
            %input{type: "file", name: "avatar_temp", id: "upload-input", accept: "image/*"}
              %span#upload-text
                Upload
      %p.upload-errors.errors
        - if @user.errors[:avatar_temp].any?
          profile picture uploads must be jpg/jpeg files less than 2MB
      = f.input :avatar_temp, as: :hidden, input_html: { id: 'avatar-field' }
      = f.input :username, placeholder: "Username"
      = f.input :first_name, placeholder: "First name"
      = f.input :last_name, placeholder: "Last name"
      - %w[x y w h].each do |attribute|
        = f.input "crop_#{attribute}", as: 'hidden'
      = f.button :submit, 'Update Profile', id: 'submit-button'
