.user-show
  .profile-info.text-center
    - if @user == current_user
      - if @user.avatar_url.present?
        = link_to(image_tag(@user.avatar_url(:large), alt: 'Profile Picture', class: "img-circle", data: {toggle: "tooltip", placement:"bottom"}, title: 'Change your picture'), account_edit_profile_path)
      - else
        = link_to account_edit_profile_path do
          .letter-picture.text-center.img-circle.center-block{data: {toggle: "tooltip", placement:"bottom"}, title: 'Change your picture'}
            = @user.username.first.match(/^[[:alpha:]]$/) ? @user.username.first.upcase : "A"
    - else
      - if @user.avatar_url.present?
        = image_tag(@user.avatar_url(:large), class: "img-circle", alt: 'Profile Picure')
      - else
        .letter-picture.text-center.img-circle.center-block
          = @user.username.first.match(/^[[:alpha:]]$/) ? @user.username.first.upcase : "A"
    .title
      %h1.text-center
        -if @user.first_name.nil? or @user.first_name.blank?
          =@user.username
        -else
          =@user.first_name
          =@user.last_name
          %br
          %small
            =@user.username

    .score
      %i.fa.fa-trophy.fa-lg
      %span
        ="+" + @user.score.to_s

    %h2
      =@user.university

%h2 Questions
- @questions.each do |q|
  =render 'questions/question', question: q

%h2 Answers
- @questions_he_answered.each do |q|
  =render 'questions/question', question: q

